<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <<<<<<< HEAD
        <title>{% block title%} {% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- global styles -->
        <style>
            /* scrollbar */
            ::-webkit-scrollbar {
                width: 8px;
            }
            ::-webkit-scrollbar-thumb {
                background-color: #4b5563;
            }
            ::-webkit-scrollbar-track {
                background-color: #9ca3af;
            }
            /* fonts [medium & regular] */
            @font-face {
                font-family: "roboto medium";
                src: url("./fonts/Roboto-Medium.ttf") format("truetype");
            }
            @font-face {
                font-family: "roboto regular";
                src: url("./fonts/Roboto-Regular.ttf") format("truetype");
            }
            /* reset css */
            #body {
                font-family: "roboto regular";
            }
        </style>
    </head>
    <body id="body" class="capitalize bg-gray-900">
        <!-- header -->
        <header
            class="text-white shadow-lg mb-5 py-5 bg-gray-800 fixed top-0 right-0 left-0"
        >
            <!-- container -->
            <div class="container">
                <!-- navigations -->
                <nav class="w-full">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center justify-center gap-5">
                            <button
                                class=""
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarNavAltMarkup"
                                aria-controls="navbarNavAltMarkup"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                            >
                                <span class=""></span>
                            </button>
                            <div class="" id="navbarNavAltMarkup">
                                <div
                                    class="flex items-center justify-center gap-5"
                                >
                                    <a
                                        class="text-white/70 hover:text-white transition-colors"
                                        aria-current="page"
                                        href="{% url 'home' %}"
                                        >Home</a
                                    >
                                    <a
                                        class="text-white/70 hover:text-white transition-colors"
                                        href="{% url 'posts_list' %}"
                                        >Blog</a
                                    >
                                    <a
                                        class="text-white/70 hover:text-white transition-colors"
                                        href="{% url 'contact_us' %}"
                                        >Contact Us</a
                                    >
                                    <a
                                        class="text-white/70 hover:text-white transition-colors"
                                        href="{% url 'about_us' %}"
                                        >About Us</a
                                    >
                                    <a
                                        class="text-white/70 hover:text-white transition-colors"
                                        href="{% url 'post_create' %}"
                                        >Create Post</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-center gap-3">
                            {% if user.is_authenticated %} welcome {{
                            user.username }} |
                            <form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">Log out</button>
                            </form>
                            {% else %}
                            <div class="">
                                <a
                                    class="rounded-full size-10 bg-yellow-500 hover:bg-yellow-600 transition-colors flex items-center justify-center"
                                    href="{% url 'login' %}"
                                    ><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        class="size-6 text-black"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                                        />
                                    </svg>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <h1 class="text-2xl text-center text-white">welcome to home page</h1>

        {% block content %} {% endblock %}

        <!-- tailwind -->
        <script>
            tailwind.config = {
                theme: {
                    container: {
                        center: true,
                    },
                    extend: {},
                },
            };
        </script>
    </body>
</html>
